body {
	background-color: #FC0384;
}

header, footer {
	width: 90%;
	height: 7em;
	text-align: center;
	background-color: #D757F6;
	border-radius: .750em;
	box-shadow: .5em;
	margin: 1em;
	margin-right: auto;
	margin-left: auto;
	color: #F6A2BF;
	clear: both;
}

footer {
	clear: both;
	position: relative;
	top: 1em;	

}


article {
	overflow: auto;
	float: left;
	width: 55%;
	height: 50%;
	background-color: #D757F6;
	border-radius: .750em;
	color: #F6A2BF;
	margin-left: 4.33em;
	padding: .675em;
}

nav {
	overflow: auto;
	float: right;
	width: 30%;
	background-color: #D757F6;
	border-radius: .750em;
	color: #F6A2BF;
	margin-right: 4.33em;
}

nav li{
	text-decoration: none;
}

ul {
	list-style-type: none;
}

nav ul h1 {
	text-decoration: underline;
}
li {
	list-style-type: none;
	text-decoration: none;
}

iframe {
	width: 60%;
}

a:link {
	text-decoration: none;
}

#main {
	position: relative;
}

/*---Media----*/

@media screen and (max-width: 480px) {
	article {
		width: 20%;
	}

	nav {
		width: 20%;
	}
}




